.ComplexHeader-Link {
	margin-top: 0.4rem;
}

.ComplexHeader-Link_desktop {
	display: none;
}

.ComplexHeader-Link_mobile {
	margin-top: 1rem;

	text-align: center;
}

@media (min-width: 768px) {
	.ComplexHeader-Link_desktop {
		display: block;
	}

	.ComplexHeader-Link_mobile {
		display: none;
	}
}
