@import "src/styles/variables";

.Search {
  &-Label {
    position: relative;

    display: block;

    cursor: text;
  }

  &-SearchIcon {
    position: absolute;
    top: 0;
    left: 5.5px;
  }

  &-Input {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 6px 2px 7px 26px;

    font-size: 9pt;

    border-radius: $border-radius-button;
    outline: none;
  }
}
