.TeacherVariant {
	grid-column: span 20;
	margin-bottom: 1.75rem;
}

@media (min-width: 576px) {
	.TeacherVariant {
		grid-column: span 10;
		margin-bottom: 0;
		padding: 0 0.4rem 1.5rem 0;

		border-right: 0.15rem solid #006;
	}
}
