@import '../../../../breakpoints';

.NavMain {
	&_desktop {
		padding-left: 4px;

		&-Link {
			display: inline;
			max-width: 129px;
			min-width: auto;

			color: #000;
			white-space: nowrap;
			text-decoration: none;
		}

		&-Tab {
			float: left;
			width: calc(50% - 22px);
			height: 20px;
			margin: 1px 1px 1px 0;
			padding: 5px 10px 5px 10px;

			font-size: 14px;
			line-height: 20px;
			text-align: center;
			color: #000;

			background: #ffe2c6;
			background: linear-gradient(to bottom, #fff0e6, #ffd2b6);
			border-radius: 14px 3px 14px 3px;
			box-shadow: inset 0 0 2px rgba(77, 77, 77, 0.15);
			cursor: pointer;

			@include media-breakpoint-up(md) {
				width: calc(14.28% - 21px);
				height: initial;

				font-size: 11px;
				line-height: initial;
			}

			&_selected {
				font-weight: bold;

				background: #ffe2c6;
				background: linear-gradient(to top, #ffe6e6, #ffd4a4);
				background-color: rgba(0, 0, 0, 0);
				box-shadow: inset 0 0 2px rgba(77, 77, 77, 0.15);
			}

			&:hover {
				background: #ffc788;
				background: linear-gradient(to top, #fff0e6, #ffd2b6);
				box-shadow: inset 0 1px 2px rgba(77, 77, 77, 0.15);
			}
		}
	}

	&_show {
		display: block !important;
		margin-top: 0 !important;
	}

	&-PopupBlock {
		position: relative;

		&:hover {
			.NavMain-Popup {
				display: block;
			}
		}
	}

	&-Popup {
		position: absolute;
		z-index: 1;

		display: none;
		float: left;
		width: 142px;
	}

	&-PopupTab {
		width: calc(100% - 21px);
	}
}
