@import '../breakpoints';

.Header {
	max-width: 1000px;
	margin: 0 auto;

	&-Logo {
		float: left;
		height: 100px;
		margin: 5px 33px 5px 33px;
	}

	&-Title {
		margin: 0 0 10px 120px;
		padding-top: 5px;

		font-family: Verdana, Geneva, sans-serif;
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 2.5px;
	}

	&-Link {
		text-decoration: none;
		color: #000;

		border-bottom: 0.05rem solid rgba(0, 0, 0, 0.25);

		&:hover {
			color: #f60;

			border-bottom-color: rgba(255, 102, 51, 0.25);
		}

		&_selected {
			color: #000 !important;

			border-bottom: none;
		}
	}
}

.Header .header_site_info {
	margin-left: 120px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.Header .header_subj_name {
	margin-left: 120px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	line-height: 20px;
	margin-top: 15px;
}
@media (max-width: 1000px) {
	.header_subj_logo {
		display: none;
	}
	body {
		margin: 0 5px;
	}
}
@media (max-width: 600px) {
	.header_subj_info {
		display: none;
	}
	.Header img {
		margin: 5px;
		height: 50px;
	}
	.Header .header-title {
		font-size: 16px;
		line-height: 16px;
		margin: 5px;
	}
	.Header .header_site_info {
		margin-left: 60px;
		font-size: 10px;
		line-height: 10px;
	}
	.Header .header_subj_name {
		margin-left: 60px;
		font-size: 14px;
		line-height: 16px;
	}
}
@media (max-width: 360px) {
	.header_site_info {
		display: none;
	}
}
