@import "src/styles/variables", "src/styles/breakpoints";

.VariantsLink {
  display: block;
  padding: 1rem 0 1.1rem;

  text-align: center;

  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius-input;

  @include media-breakpoint-up(md) {
    padding: 0.25rem 0 0.35rem;
  }

  &_onePerRow {
    grid-column: 1/21;
    margin-top: 0.35rem;

    @include media-breakpoint-up(md) {
      grid-column: 6/16;
    }

    @include media-breakpoint-up(lg) {
      grid-column: 7/15;
    }
  }

  &_new {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;

      width: 1rem;
      height: 1rem;

      background: $danger;
      border-radius: 50%;

      @include media-breakpoint-up(md) {
        top: -0.25rem;
        right: -0.35rem;

        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }

  &-Hint {
    display: inline-block;
    width: 1.35rem;
    height: 1.35rem;
    margin: -0.1rem 0 -0.1rem 0.35rem;

    text-align: center;
    color: $black;

    background: linear-gradient(#d2e2ff, #9dccff);
    border-radius: 50%;
    box-shadow: inset -1px -1px 2px rgba(77, 77, 77, 0.3);
    cursor: pointer;

    &:hover {
      background: #dbe8ff;
      background: linear-gradient(to bottom, #dbe8ff, #b1d6ff);
    }
  }
}
