.Link {
	color: #006;

	border-bottom: .75px solid;
	border-color: rgba(0, 0, 102, 0.25);
	text-decoration: none;
}

.Link_black {
	color: #000;

	border-bottom-color: rgba(0, 0, 0, 0.25);
}

.Link:not(.Link_static):not(.Link_black):not(.Link_pseudo):visited {
	color: #8f00af;

	border-color: rgba(143, 0, 175, 0.25);
}

.Link_pseudo {
	border-bottom-style: dashed;
	border-color: rgba(9, 9, 73, 0.5);

	cursor: pointer;
}

.Link_pseudo-black {
	color: #000;

	border-color: rgba(0, 0, 0, 0.5);
}

.Link:hover {
	color: #f60 !important;

	border-color: rgba(255, 102, 0, 0.25) !important;
}

.Link_pseudo:hover {
	border-color: rgba(255, 102, 0, 0.5) !important;
}
