@import '../breakpoints';

.SidebarBtns {
	font-size: 16px;
	text-align: center;

	background: linear-gradient(#fff0e6, #ffd2b6);

	cursor: pointer;

	@include media-breakpoint-up(md) {
		& {
			display: none;
		}
	}
}

.Sidebar {
	width: 160px;
	padding: 0 0.4rem;

	border-right: 2px solid silver;

	color: #000;

	@include media-breakpoint-up(mil) {
		& {
			padding-left: 0;
		}
	}

	&-BannerAd {
		margin-top: 50px;
	}

	&-Search {
		margin: 14px 0 7px;
	}
}

.search__label {
	position: relative;
	display: block;
	cursor: text;
}
.search-input {
	width: 100%;
	max-width: 100% !important;
	margin: 0;
	padding: 6px 2px 7px 26px !important;

	font-size: 9pt !important;

	background: #f0f0f0 !important;
	border: none !important;
	border-radius: 7px !important;
	box-shadow: none !important;

	outline: none;
}
.search__search-icon {
	position: absolute;
	top: 0;
	left: 5.5px;
}
.search-icon {
	width: 14px;
}
.search-icon__svg {
	enable-background: new 0 0 27.9 50;
}
.search-icon__lens {
	fill: none;
	stroke: #006;
	stroke-width: 3;
	stroke-miterlimit: 10;
}
.search-icon__handle {
	fill: #006;
}
