@mixin transition {
  transition-timing-function: ease-out;
  transition-duration: 0.15s;
  transition-property: color, background, border-color, fill, box-shadow;
}

@mixin transition-reset {
  transition: none;
}
