.Title {
	margin: 0 0 1rem;
	padding-top: 2px;

	font-weight: bold;
	font-size: 2rem;
	text-align: left;
	color: #006;
}

.Title-Caption {
	display: inline-block;

	font-weight: normal;
	font-size: 1.05rem;
	vertical-align: top;
	color: #f60;
}

@media (min-width: 576px) {
	.Title {
		font-size: 1.5rem;

		margin: 0 0 .75rem;
	}

	.Title-Caption {	
		font-size: .75rem;
	}
}
