.Section {
	margin-bottom: 25px;

	font-size: 1.25rem;

	border-top: 3px solid #006;
}

.Section-ComplexHeader {
	display: flex;
	flex-direction: column;
}

.Section-Desc {
	margin: 0 0 10px;

	line-height: 1.75rem;
	text-align: left;
}

@media (min-width: 576px) {
	.Section {
		font-size: 1rem;

		border-top-width: 2px;
	}

	.Section-ComplexHeader {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.Section-Desc {
		padding-right: 25px;
		
		line-height: 13pt;
	}
}