.Section {
	margin-bottom: 1.75rem;

	font-size: 1rem;

	border-top: 0.15rem solid #006;
}

.Section-ComplexHeader {
	display: flex;
	flex-direction: column;
}

.Section-Desc {
	margin: 0 0 1rem;

	line-height: 1.4rem;
	text-indent: 1.5rem;
	text-align: left;
}

@media (min-width: 768px) {
	.Section-ComplexHeader {
		flex-direction: row;
		justify-content: space-between;
	}

	.Section-Desc {
		padding-right: 1.75rem;
	}
}
