.TwoColumns-Grid {
	grid-row-gap: 0;
}

.TwoColumns-Col {
	grid-column: 1/21;
}

.TwoColumns-Col_1 {
	margin-bottom: 1.75rem;
}

.TwoColumns-Col_2 {
	border-top: 0.15rem solid #006;
}

@media (min-width: 768px) {
	.TwoColumns-Col {
		grid-column: span 10;
	}

	.TwoColumns-Col_1 {
		margin-bottom: 0;
		padding: 0 0.4rem 1.5rem 0;

		border-right: 0.15rem solid #006;
	}

	.TwoColumns-Col_2 {
		border-top: none;
	}
}
