@import "src/styles/variables";

.Link_white {
  color: $white;

  &:hover {
    color: $white;

    border-bottom-color: $white;
  }

  &-U {
    color: inherit;

    border-bottom-color: $border-white;
  }
}
