.VariantsLink {
	display: block;
	padding: 1rem 0 1.1rem;

	text-align: center;

	border: 0.05rem solid;
	border-radius: 0.25rem;
}

.VariantsLink_one-per-row {
	grid-column: 1/21;
	margin-top: 0.35rem;
}

.VariantsLink_new {
	position: relative;
}

.VariantsLink_new::after {
	position: absolute;
	top: -0.25rem;
	right: -0.25rem;

	width: 1rem;
	height: 1rem;

	background: #f60;
	border-radius: 50%;

	content: '';
}

@media (min-width: 768px) {
	.VariantsLink_new::after {
		top: -0.25rem;
		right: -0.35rem;

		width: 0.75rem;
		height: 0.75rem;
	}
}

.VariantsLink-Hint {
	display: inline-block;
	margin: -0.1rem 0 -0.1rem 0.35rem;
	width: 1.35rem;
	height: 1.35rem;

	color: #000;
	text-align: center;

	background: linear-gradient(#d2e2ff, #9dccff);
	border-radius: 50%;
	box-shadow: inset -1px -1px 2px rgba(77, 77, 77, 0.3);

	cursor: pointer;
}

.VariantsLink-Hint:hover {
	background-color: #dbe8ff;
	background: -khtml-linear-gradient(to bottom, #dbe8ff, #b1d6ff);
	background: linear-gradient(to bottom, #dbe8ff, #b1d6ff);
}

@media (min-width: 768px) {
	.VariantsLink {
		padding: 0.25rem 0 0.35rem;
	}

	.VariantsLink_one-per-row {
		grid-column: 6/16;
	}
}

@media (min-width: 992px) {
	.VariantsLink_one-per-row {
		grid-column: 7/15;
	}
}
