.Counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 568px) {
	.Counter {
		align-items: flex-start;
	}
}

.Counter-Button {
	margin: 0;
	padding: 0.227rem 0.495rem 0.33rem;

	font-size: 1rem;
	font-family: Verdana, sans-serif;
	text-align: center;

	background: transparent;
	border: 0.1rem solid;
	border-color: #f0f0f0;
	border-radius: 50%;
	box-shadow: none;
	outline: none;
}

.Counter-Button_disabled {
	color: #ccc;
}

.Counter-Button:not(.Counter-Button_disabled):hover {
	color: #f60;

	border-color: rgba(255, 102, 51, 0.5);

	cursor: pointer;
}

.Counter-Input {
	z-index: 1;
	position: relative;
	top: 0;

	width: 3rem;

	text-align: center;
}

.Counter-Caption {
	display: block;
}

@media (min-width: 568px) {
	.Counter-Caption {
		display: none;

		font-size: 1rem;
	}
}
