.OurVariants-TitleWord1 {
	display: block;
}

.OurVariants-TitleWord2 {
	display: inline-block;
}

@media (min-width: 568px) {
	.OurVariants-TitleWord1 {
		display: inline;
	}

	.OurVariants-TitleWord2 {
		display: inline-block;
	}
}

.OurVariants-Desc_mobile {
	display: block;
}

.OurVariants-Desc_desktop {
	display: none;
}

@media (min-width: 768px) {
	.OurVariants-Desc_mobile {
		display: none;
	}

	.OurVariants-Desc_desktop {
		display: block;
	}
}

.OurVariants-Link {
	grid-column: span 4;
}

.OurVariants-Word {
	display: none;
}

@media (min-width: 768px) {
	.OurVariants-Word {
		display: inline;
	}
}
