.ChatButton {
	position: fixed;
	bottom: 50px;
	left: 15px;

	width: 30px;
	padding: 5px;
	height: 15px;

	font-size: 10pt;

	background: #f0f0f0;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}
