.ChatButton {
  position: fixed;
  bottom: 15px;
  left: 15px;

  width: 30px;
  height: 15px;
  padding: 5px;

  font-size: 10pt;

  background: #f0f0f0;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
