.ConstructorForm-TopicList {
	grid-column: 1/16;
}

.ConstructorForm-Buttons {
	grid-column: 16/21;
}

.ConstructorForm-Row {
	display: grid;
	grid-template-columns: 102.5px 1fr;
	grid-column-gap: 0.75rem;
	margin-bottom: 0.75rem;
}

.ConstructorForm-Row_head {
	padding-bottom: 0.55rem;

	font-weight: bold;
	color: #006;

	border-bottom: 0.05rem solid rgba(0, 0, 102, 0.25);
}

.ConstructorForm-Row_extra {
	grid-template-columns: 1fr;

	font-style: italic;
}

.ConstructorForm-ExtraTopics {
	display: none;
}

.ConstructorForm-Counter {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.ConstructorForm-CounterButton {
	box-sizing: border-box;
	/* width: 26px;
	height: 26px; */
	padding: 0.227rem 0.495rem 0.33rem !important;

	font-size: 1rem;
	font-family: Verdana, sans-serif;

	background: transparent;
	border: 1px solid;
	border-color: #f0f0f0;
	border-radius: 50%;
	box-shadow: none;
	outline: none;
}

.ConstructorForm-CounterButton_disabled {
	color: #ccc;
}

.ConstructorForm-CounterButton:not(.ConstructorForm-CounterButton_disabled):hover {
	color: #f60;

	border-color: rgba(255, 102, 51, 0.5);

	cursor: pointer;
}

.ConstructorForm-CounterInput {
	width: 40px;

	text-align: center;
}

.CostructorForm-TopicSubs {
	display: none;
}

.CostructorForm-TopicName {
	display: grid;
	grid-template-columns: 28px 1fr;
	/* grid-column-gap: 0.4rem; */
	padding-top: 0.3rem;
}

.CostructorForm-TopicNumber {
	text-align: right;
}
