.ConstructorForm-TopicList {
	grid-column: 1/16;
}

.ConstructorForm-Buttons {
	grid-column: 16/21;
}

.ConstructorForm-Row {
	display: grid;
	grid-template-columns: 105px 1fr;
	grid-column-gap: 0.75rem;
	margin-bottom: 0.75rem;
}

.ConstructorForm-Row_head {
	padding-bottom: 0.75rem;

	font-weight: bold;
	color: #006;

	border-bottom: 0.05rem solid rgba(0, 0, 102, 0.25);
}

.ConstructorForm-Row_label {
	grid-template-columns: 1fr;
	margin-top: 1rem;

	font-style: italic;
}

.ConstructorForm-Row_head + .ConstructorForm-Row_label {
	margin-top: -0.25rem;
}

.ConstructorForm-ExtraTopics {
	display: none;
}

.ConstructorForm-TopicName {
	display: grid;
	grid-template-columns: 1.65rem 1fr;
	grid-column-gap: 0.35rem;
	padding: 0.3rem 1.5rem 0.4rem 0;
}

.ConstructorForm-TopicNumber {
	text-align: right;
}

.ConstructorForm-TopicSubs {
	display: none;
}
