.Switcher_checkbox-Label {
	display: flex;
	padding: 0.4rem;

	border-color: rgba(0, 0, 102, 0.25);
}

.Switcher_checkbox-Label:hover,
.Switcher_checkbox-Label:hover .Switcher_checkbox-FakeCheckbox {
	background: rgba(0, 0, 102, 0.1) !important;
}

.Switcher_checkbox-Text {
	padding: 0 0 0 0.6rem;

	line-height: 1.25rem;

	background: transparent !important;
}

.Switcher_checkbox-FakeCheckbox {
	border: 0.05rem solid rgba(0, 0, 102, 0.25);
}
