.Label {
	cursor: pointer;
}

.Checkbox {
	position: absolute;

	opacity: 0;

	pointer-events: none;
}

.FakeCheckbox {
	position: relative;
	display: inline-block;
	box-sizing: border-box;

	width: 1.25rem;
	height: 1.25rem;
}

.Checkbox:checked + .FakeCheckbox::before {
	position: absolute;
	top: -0.15rem;
	left: 0.175rem;

	display: block;
	width: 1.25rem;
	height: 1.25rem;

	background-image: url('./assets/tick.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;

	content: '';
}

.Checkbox:checked + .FakeCheckbox_blue::before {
	background-image: url('./assets/tick_blue.svg');
}
