@import '../../breakpoints';

html {
	font-size: 18px;
}

@media (min-width: 768px) {
	html {
		font-size: 14px;
	}
}

.PageLayout {
	position: relative;

	max-width: 1000px;
	height: auto !important;
	margin: auto;
	padding-left: constant(safe-area-inset-left);
	padding-left: env(safe-area-inset-left);

	@include media-breakpoint-up(mil) {
		&-BannerAd_top {
			width: 823px !important;
			height: 185.683px;
		}
	}
}

.PageLayout-Nav {
	margin-top: 0.4rem;
}

.PageLayout-Nav_desktop {
	display: none;
}

.PageLayout-Nav_mobile {
	display: block;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	background: linear-gradient(#fff0e6, #ffd2b6);
	clear: both;
}

@media (min-width: 768px) {
	.PageLayout-Nav_mobile {
		display: none;
	}

	.PageLayout-Nav_desktop {
		display: block;
	}
}

.PageLayout-Grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0.5rem;
	margin: 0.4rem 0 1.5rem;

	@include media-breakpoint-up(md) {
		& {
			grid-template-columns: 175px 1fr;
		}
	}

	@include media-breakpoint-up(mil) {
		& {
			grid-template-columns: 170px 1fr;
		}
	}
}

.PageLayout-Sidebar {
	display: none;

	@include media-breakpoint-up(md) {
		& {
			display: block;
		}
	}
}

.PageLayout-Content {
	margin: 0 0.5rem;

	@include media-breakpoint-up(md) {
		& {
			margin-left: 0;
		}
	}

	@include media-breakpoint-up(mil) {
		& {
			margin-right: 0;
		}
	}
}

.PageLayout-Main {
	margin-bottom: 1rem;
}

p {
	margin: 0;
}

.login {
	background-color: #f0f5ff;
	border-style: solid #cedeff;
	border: 1px solid #cedeff;
	border-radius: 7px;
	padding: 5px;
	text-align: left;
	position: relative;
	padding-bottom: 24px;
	font-size: 11px;
}

.login a,
.login form {
	font-size: 11px;
}

.login a {
	border: 0 solid #cedeff;
	border-radius: 4px;
	padding: 2px;
	line-height: 21px;
}

.news {
	font-size: 11px;
	padding: 3px;
	margin: 5px -3px 0;
}

.news a {
	text-decoration: none;
}

.news.urgent a {
	color: #fff;
	font-size: 14px;
	text-decoration: underline;
}

.news.urgent {
	text-align: center;
	background-color: #f80;
	color: #fff;
	font-size: 14px;
}

.news.hot {
	border-left: 2px solid #f80;
}

.news.hidden {
	display: none;
}

.login {
	border: 0 solid #cedeff;
}

.login a {
	border-radius: 0;
	padding: 0;
	line-height: 15px;
}

.news {
	line-height: 15px;
	padding-right: 0;
}

.hot {
	position: relative;
	border-left: none !important;
}

.hot:before {
	position: absolute;
	top: 7.5px;
	bottom: 3px;
	left: -2px;
	width: 2px;
	content: '';
	background: #f60;
	background: linear-gradient(to bottom right, #fb0, #f60);
}

.news.urgent {
	font-size: 11px;
	background: #f60;
	background: linear-gradient(to bottom right, #fb0, #f60);
	margin-bottom: 8px;
}

a .news.urgent u {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

a:hover .news.urgent u {
	border-bottom: 1px solid #fff;
}

.news b {
	display: block;
	margin-bottom: -1px;
	font-weight: 400;
	font-size: 8px;
	letter-spacing: 1px;
	color: rgba(0, 0, 102, 0.75);
	letter-spacing: 0.12em;
	text-transform: uppercase;
}

.news p {
	color: #006;
	border-bottom: 1px solid rgba(0, 0, 102, 0.25);
	padding-bottom: 5px;
}

.login > noindex > .news p {
	color: #000;
}

.login > noindex > .news p a {
	color: #008;
}

.login > noindex > .news p a:hover {
	color: #f60;
}

.login a:hover b {
	color: #f60;
}

.login a:hover p {
	color: #f60;
	border-bottom: 1px solid rgba(255, 102, 0, 0.25);
}

.before-bs {
	line-height: 15px;
	margin-bottom: 4px;
}

.before-bs a {
	color: #006;
	border-bottom: 1px solid rgba(0, 0, 102, 0.25);
}

.before-bs a:hover {
	cursor: pointer;
	color: #f60;
	border-bottom: 1px solid rgba(255, 102, 0, 0.25);
}

.button-store {
	display: inline-block;
	width: 81px;
	height: 23px;
	background: center center no-repeat;
	background-image: url(https://ege.sdamgia.ru/img/button-store.svg);
	background-size: cover;
	border-radius: 0 !important;
}

.videolink:before {
	content: '';
	width: 0;
	height: 0;
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid red;
	margin-right: 5px;
}

.login {
	padding: 7.5px 0 25px;
}

.login form,
.login__social-links {
	padding: 0 5px;
}

.login form {
	margin-bottom: 10px;
}

.login form a,
.login__title a {
	padding: 0 !important;
	text-decoration: none;
	color: #006;
	border-bottom: 1px solid;
	border-bottom-color: rgba(0, 0, 102, 0.25);
}

.login form a:hover,
.login__title a:hover {
	color: #f60;
	border-bottom-color: rgba(255, 102, 0, 0.25);
}

.news {
	display: block;
	margin: 0 0 10px 5px;
	padding: 0 0 5px !important;
	color: #006;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 102, 0.25) !important;
	font-size: 11px;
	line-height: 15px;
}

.news:hover {
	border-bottom: 1px solid rgba(255, 102, 0, 0.25) !important;
}

div.news:hover {
	border-bottom-color: rgba(0, 0, 102, 0.25) !important;
}

div.news:hover .news__date {
	color: rgba(0, 0, 102, 0.75) !important;
}

div.news .news__text {
	color: #000 !important;
}

div.news .news__text a {
	color: #006;
	text-decoration: none;
}

div.news .news__text a:hover {
	color: #f60;
}

.news_urgent {
	text-align: center;
	color: #fff !important;
	background: #f60;
	background: linear-gradient(to bottom right, #fb0, #f60);
	margin-left: 0;
	padding-top: 3px !important;
	border-bottom: none !important;
}

.news_urgent:hover {
	border-bottom: none !important;
}

.news_urgent u {
	text-decoration: none;
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.5);
}

.news_urgent:hover u {
	border-bottom-color: #fff;
}

.news_hot {
	position: relative;
}

.news_hot::before {
	position: absolute;
	top: 4px;
	bottom: -1px;
	left: -5px;
	width: 2px;
	content: '';
	background: #f60;
	background: linear-gradient(to bottom right, #fb0, #f60);
}

.news__date {
	margin-bottom: -1px;
	text-transform: uppercase;
	font-size: 8px;
	color: rgba(0, 0, 102, 0.75);
	letter-spacing: 0.12em;
}

.news__text {
	margin-top: 0;
	text-align: left;
	font-size: 11px;
	color: #006;
}

.news:hover .news__date {
	color: rgba(255, 102, 0, 0.75);
}

.news:hover .news__text {
	color: #f60;
}

.login__title {
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	margin: 15px 0 5px;
}

.login__board-of-shame {
	margin-top: 15px;
}

.login__social-links {
	font-size: 11px;
	margin: 15px 0 4px;
	line-height: 15px;
}

.button_vk {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 12.5px;
	margin-bottom: 8px;
	padding: 3px 0 4px !important;
	color: #fff !important;
	background-color: #5181b8;
	border-radius: 4px !important;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
		sans-serif;
}

.button_vk:hover {
	background-color: #5b88bd;
}

.button_vk::before {
	content: '';
	display: inline-block;
	margin-right: 8px;
	background-image: url(https://vk.com/images/icons/post_widget_2x.png);
	background-size: 16px 106px;
	background-repeat: no-repeat;
	height: 11px;
	background-position: 0 -52px;
	width: 15px;
	position: relative;
	bottom: -1px;
}

.halfspace {
	font-size: 0.5em;
	line-height: 1;
}

.ChatButton {
	position: fixed;
	bottom: 50px;
	left: 15px;
	width: 30px;
	height: 15px;
	background-color: #f0f0f0;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
	font-size: 10pt;
	cursor: pointer;
}

.ButtonStore_iOS {
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	background-position: 0px -24px;
	border-bottom-right-radius: 5px !important;
}

.ButtonStore_android {
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background-position: 0 0;
	border-bottom-left-radius: 5px !important;
}

.SidebarBannerAd {
	width: 100%;
	margin-top: 20px;
}

.wrapper {
	max-width: 1000px;
	margin: auto;
	position: relative;
}
.page_header {
	margin: 0;
	padding: 0;
	position: relative;
}

.sdamgia_btns {
	display: none;
	margin: 0;
	padding: 0;
}
.sdamgia_btns a {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	background: linear-gradient(#fff0e6, #ffd2b6);
	padding: 2px;
	margin: 2px;
	width: calc(20% - 8px);
	text-decoration: none;
	color: black;
	border-radius: 2px;
}

@media screen and (max-width: 767px) {
	.sdamgia_btns {
		display: block;
	}
	.menu a {
		width: 50%;
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
	}
	.menu {
		font-size: 0;
	}
	.menu_l {
		font-size: 14px;
	}
}

.smallcapitals {
	text-transform: uppercase;
	font-size: 0.85em;
	letter-spacing: 0.1em;
	margin-right: -0.1em;
}

.BannerAd {
	width: 100%;
}
