.Input {
	box-sizing: border-box;
	margin: 0;
	padding: 0.3rem 0.55rem 0.4rem !important;

	font-size: 1rem;

	background: #f0f0f0 !important;
	border: none !important;
	border-radius: 3px !important;
	box-shadow: none !important;
	outline: none !important;
}
