@import "src/styles/variables";

.Link_selected {
  font-weight: bold;
  color: $primary;

  border: none;
  cursor: default;

  &:hover {
    color: $black !important;
  }

  .Link-U {
    color: $primary;

    border: none;
  }
}
