$white: #fff;
$black: #000;

$primary: #006;
$info: #f0f5ff;
$visited: #8f00af;
$danger: #f60;

$border-width: 0.05rem;
$border-primary: #bfbfd8;
$border-visited: #e3bfeb;
$border-black: #bfbfbf;
$border-white: rgba(255, 255, 255, 0.35);
$border-danger: #ffd8bf;
