.Page {
	margin: 0;

	background: #fff url('https://ege.sdamgia.ru/img/fon.svg') repeat-x;

	font-family: Verdana, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	overflow-y: scroll;


	--color-link-blue: #006;
}
