.Page {
	margin: 0;

	background: #fff url('https://ege.sdamgia.ru/img/fon.svg') repeat-x;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	
	--color-link-blue: #006;
}
