@import '../../../../breakpoints';

.SidebarBtns {
	font-size: 16px;
	text-align: center;

	background: linear-gradient(#fff0e6, #ffd2b6);

	cursor: pointer;

	@include media-breakpoint-up(md) {
		& {
			display: none;
		}
	}
}

.Sidebar {
	width: 160px;
	padding: 0 0.4rem;

	border-right: 2px solid silver;

	color: #000;

	@include media-breakpoint-up(mil) {
		& {
			padding-left: 0;
		}
	}

	&-BannerAd {
		margin-top: 50px;
	}

	&-Search {
		margin: 14px 0 7px;
	}
}
