@import '../../../../breakpoints';

.SidebarBtns {
	font-size: 16px;
	text-align: center;

	background: linear-gradient(#fff0e6, #ffd2b6);

	cursor: pointer;

	@include media-breakpoint-up(md) {
		& {
			display: none;
		}
	}
}

.Sidebar {
	width: 160px;
	padding: 0 0.4rem;

	border-right: 2px solid silver;

	color: #000;

	@include media-breakpoint-up(mil) {
		& {
			padding-left: 0;
		}
	}

	&-BannerAd {
		margin-top: 50px;
	}

	&-Search {
		margin: 14px 0 7px;
	}
}

.Search {
	&-Label {
		position: relative;
		display: block;

		cursor: text;
	}

	&-Input {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 6px 2px 7px 26px;

		font-size: 9pt;

		border-radius: 7px;
		outline: none;
	}

	&-SearchIcon {
		position: absolute;
		top: 0;
		left: 5.5px;
	}
}

.SearchIcon {
	width: 14px;

	&-Svg {
		enable-background: new 0 0 27.9 50;
	}

	&-Lens {
		fill: none;
		stroke: #006;
		stroke-width: 3;
		stroke-miterlimit: 10;
	}

	&-Handle {
		fill: #006;
	}
}
